# Archivos de configuración locales
appsettings.Development.json
appsettings.json

# Archivos de compilación y carpetas generadas por .NET
bin/
obj/

# Archivos específicos de Visual Studio
.vs/
.vscode/

# Archivos generados por herramientas como dotnet
*.user
*.userosscache
*.suo
*.sln.docstates

# Archivos de JetBrains Rider
.idea/

# Archivos de NPM
node_modules/

# Archivos de dependencias locales
.nuget/

# Archivos de cobertura de pruebas
coverage/

# Archivos temporales y de backup
*.bak
*.swp
*.tmp

# Otros archivos que no deberían ir al repositorio
*.log
